<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-6 align-self-center">
            <div class="container" id="conlog">
                <div class="row justify-content-center col mb-3">
                    <div class="col-sm-12 aling-self-center">
                        <img class="col-sm-12" src="<%=asset_path 'uptc.jpeg'%>">
                    </div>
                </div>
                <div class="row col mb-3" style="background: #ECC72F">
                    <div class="col" style="text-align: center">
                        <h3 id="Registrar" >REGISTRAR USUARIO</h3>
                    </div>
                </div>
                <div class="row justify-content-center col mb-3">
                    <div class="col-sm-8">
                        
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>
                      <div class="form-group col mb-3">
                          
                          <div class="field">
                            <%= f.text_field :id, autofocus: true, autocomplete: "code",class:"form-control form-control-lg col mb-3", id:"codigoUsuario", placeholder:"Codigo" %>
                          </div>
                          <div class="field">
                            <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control form-control-lg col mb-3", id:"nombreUsuario", placeholder:"Nombre" %>
                          </div>
                          <div class="field">
                            <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname",class:"form-control form-control-lg col mb-3", id:"apellidoUsuario", placeholder:"Apellido" %>
                          </div>


                          <div class="field">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control form-control-lg col mb-3", id:"correoUsuario", placeholder:"Correo" %>
                          </div>

                          <div class="field">
                            <%= f.password_field :password, autocomplete: "new-password", class:"form-control form-control-lg col mb-3", id:"contraseñaUsuario", placeholder:"Contraseña" %>
                          </div>

                          <div class="field">
                            <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control form-control-lg col mb-3",placeholder:"Confirme la contraseña" %>
                          </div>
                          <div class="field">
                              <%= f.select :job_name, class:"form-control form-control-lg col mb-3" do %>
                                <% [['Instructor', 'Instructor'], ['Prestamos', 'Prestamos']].each do |c| -%>
                                <%= content_tag(:option, c.first, value: c.last) %>
                                <% end %>
                              <% end %>
                          </div>
                      </div>  
                      <%= f.submit "Registrar",class:"btn btn-secondary col-sm-12", id:"btnRegistrar" %>
                      <div class="row justify-content-center col mb-3">
                        <div class="col-sm-6">
                          
                          <div class="actions">
                            <div class="field">
                              
                            </div>
                            
                          </div>
                          <p> </p>
                        </div>  
                      </div>
                      <% end %>
                      <div class="row justify-content-center col mb-3">
                        <div class="col-sm-3">
                          <%= render "devise/shared/links" %>
                          <p> </p>
                        </div>  
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
