<div class="row justify-content-center col mb-3">
    <div class="col-sm-12 aling-self-center">
        <div class="container" id="contenedorLogo">
            <div class="row justify-content-center">
                <div class="col-sm-12 col mb-3"><h2 style="text-align: center">BUSCAR GRUPO</h2></div>
                <div class="col-sm-6">
                    <%= form_for :Group do |g| %>
                        <div class="row justify-content-center col mb-3">
                            <div class="col-sm-6">
                                <%= g.select :group_name do %>
                                    <% Group.all.each do |c| -%>
                                        <%= content_tag(:option, c.name, value: c.id, class:"form-control form-control-lg col mb-3") %>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="col-sm-6">
                                <%= g.submit "Aceptar",class:"btn btn-secondary col-sm-4 mb-3", id:"btnAceptar" %>
                                &nbsp
                                <%= g.submit "Limpiar",class:"btn btn-secondary col-sm-4 mb-3", id:"btnLimpiar" %>
                            </div>                   
                        </div>
                    <% end %>
                </div>
                <div class="col-sm-6">
                    <div class="container" style="background: rgba(225, 222, 215,0.4)">
                        <h5 style="text-align: center">TUS GRUPOS</h5>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Grupo</th>
                                </tr>
                            </thead>
                            <tbody id="tablaGrupos">
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
