<div class="row justify-content-center col mb-3">
                <div class="col-sm-12 aling-self-center">
                    <div class="container" id="contenedorLogo">
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <h2 style="text-align: center">MODIFICAR GRUPO</h2>
                                <%= form_with url: "/groups/update", method: :put do |g| %>
                                    <% if Group.where(user_id:current_user.id).count >0 %>
                                        
                                        <div class="row justify-content-center">
                                        <div class="col-sm-4 col mb-3">
                                            <%= g.select :group_name do %>
                                                <% Group.where(user_id:current_user.id).each do |c| -%>
                                                    <%= content_tag(:option, c.name, value: c.id, class:"form-control form-control-lg col mb-3") %>
                                                <% end %>
                                            <% end %>
                                        </div>
                                        <div class="col-sm-6">
                                            <%= g.submit "Modificar",class:"btn btn-secondary col-sm-4 mb-3", id:"btnModificar" %>
                                            &nbsp
                                            <button type="reset" class="btn btn-secondary col-sm-4 mb-3" id="btnLimpiar">Limpiar</button>
                                        </div>
                                        <div class="col-sm-8">
                                            <%= g.text_field :groupName, autofocus: true, autocomplete: "groupName",class:"form-control form-control-lg col mb-3", id:"nombreGrupo", placeholder:"Nombre" %>
                                        </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <label class="col-sm-12" style="font-size: 20px">Descripción</label>
                                                    <%= g.text_area :groupDescription, autofocus: true, autocomplete: "groupDescription",class:"form-control form-control-lg col mb-3", id:"descripcionGrupo" %>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                    <% if Group.where(user_id:current_user.id).count == 0 %>
                                        <p>No cuentas con grupos registrados</p>
                                    <% end %>    
                                <% end %>
                            </div>
                            <%= render "/layouts/tableGroups" %>
                        </div>
                    </div>
                </div>
            </div>