<div class="row justify-content-center col mb-3">
    <div class="col-sm-9">
        <h2 style="text-align: center">CREAR PRESTAMO</h2>
        <%= form_with url: "/loan/AddLoan" do |f| %>
            <div class="row justify-content-center">
                <div class="col-sm-8 mb-3">
                    <label class="col-sm-12" style="font-size: 20px">Estudiante</label>
                    <%= f.select :student_id,class:"form-select form-select-lg mb-3", method: :put do %>
                        <%= content_tag(:option, "Seleccione" , value: 0 , class:"form-select form-select-lg mb-3") %>
                            <% Student.all.each do |c| -%>
                                <%= content_tag(:option, c.name << "--->" << c.id.to_s, value: c.id, class:"form-control
                                    form-control-lg col mb-3") %>
                                    <% end %>
                                        <% end %>
                </div>
                <div class="col-sm-7">
                    <%= f.number_field :idSt, autofocus: true, autocomplete: "IdSt" ,class:"form-control form-control-lg
                        col mb-3", id:"codigoEstudiante", placeholder:"Codigo de estudiante" %>
                </div>
                <div class="col-sm-7">
                    <%= f.text_field :nameSt, autofocus: true, autocomplete: "nameSt" ,class:"form-control
                        form-control-lg col mb-3", id:"codigoEstudiante", placeholder:"Nombre Estudiante" %>
                </div>
                <div class="col-sm-7 mb-3">
                    <label class="col-sm-12" style="font-size: 20px">Carrera</label>
                    <select name="carrerSt" id="carreraParticipante" class="form-control form-control-lg">
                        <option value="1">Seleccione una carrera...</option>
                        <option value="2">Ing.Sistemas y computación</option>
                        <option value="3">Ing.Electronica</option>
                        <option value="4">Ing.Industrial</option>
                        <option value="5">Ing.Minas</option>
                        <option value="6">Ing.Geologica</option>
                        <option value="7">Finanzas y comercio internacional</option>
                        <option value="8">Administración de empresas</option>
                        <option value="9">Contaduria publica</option>
                    </select>

                </div>
                <div class="col-sm-7 mb-3">
                    <%= f.text_field :emailSt, autofocus: true, autocomplete: "emailSt" ,class:"form-control
                        form-control-lg col mb-3", id:"codigoEstudiante", placeholder:"Correo electronico" %>
                </div>
                <div class="col-sm-8 mb-3">
                    <label class="col-sm-12" style="font-size: 20px">Elemento</label>
                    <%= f.select :element_id,class:"form-control form-control-lg col mb-3", method: :put do %>
                        <%= content_tag(:option, "Seleccione" , value: 0 , class:"form-control form-control-lg col
                            mb-3") %>
                            <% Element.all.each do |c| -%>
                                <%= content_tag(:option, c.name, value: c.id, class:"form-control form-control-lg col
                                    mb-3") %>
                                    <% end %>
                                        <% end %>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <div class="input-group">
                        <label class="col-sm-12" style="font-size: 20px">Fecha</label>
                        <%= f.date_field :fecha ,class:"form-control form-control-lg col mb-3", id:"fechaPrestamo" %>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <label class="col-sm-12" style="font-size: 20px">Hora</label>
                        <%= f.time_field :Hsolicitud ,class:"form-control form-control-lg col mb-3", id:"horaPrestamo"
                            %>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <%= f.submit "Aceptar" ,class:"btn btn-secondary", id:"btnAceptar" %>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-secondary" type="reset">Limpiar</button>
                    <p></p>
                </div>
            </div>
            <%end%>
    </div>
</div>