<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Gestion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'modules.css', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
  <div class="row justify-content-start ">
    <div class="col-sm-2">
        <div class="container-sm" id="barra">
            <div class="row justify-content-start col mb-3">
                <div class="col aling-self-center">
                    <img src="<%=asset_path 'uptc.jpeg'%>" id="imagen" width="110px" height="60px">
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="grupos.html">
                                <div class="row">
                                    <div class="col-sm-9 align-self-start">Inicio</div>
                                    <div class="col-sm-3 align-self-end"><i class="fa fa-home"></i></div>
                                </div>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="CrearGrupo.html">
                                <div class="row">
                                    <div class="col-sm-9 align-self-start">Añadir</div>
                                    <div class="col-sm-3 align-self-end"><i class="fa fa-plus-circle"></i></div>
                                </div>
                            </a>

                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="BuscarGrupo.html">
                                <div class="row">
                                    <div class="col-sm-9 align-self-start">Buscar</div>
                                    <div class="col-sm-3 align-self-end"><i class="fa fa-search"></i></div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ModificarGrupo.html">
                                <div class="row">
                                    <div class="col-sm-9 align-self-start">Modificar</div>
                                    <div class="col-sm-3 align-self-end"><i class="fa fa-pencil"></i></div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="EliminarGrupo.html">
                                <div class="row">
                                    <div class="col-sm-9 align-self-start">Eliminar</div>
                                    <div class="col-sm-3 align-self-end"><i class="fa fa-trash"></i></div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Participantes.html">
                                <div class="row">
                                    <div class="col-sm-9 align-self-start">Participantes</div>
                                    <div class="col-sm-3 align-self-end"><i class="fa fa-users"></i></div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">         
                            <% if user_signed_in? %>
                                <div class="row">
                                    
                                    <div class="col-sm-9 align-self-start"><%= button_to "Cerrar sesion", destroy_user_session_path ,id:"sign-out", method: :delete,class:"nav-link"%>  
                                    </div>
                                    <div class="col-sm-3 align-self-end"><i class="fa fa-sign-out"></i></div>
                                </div>
                            <%end%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="container">
            <div class="container" id="contenedorUsuario">
                <h4 id="usuarioGrupo"><%= @InstructorActual %></h4>
                <h5 id="cargo">Instructor</h5>
            </div>
            <%= yield %>
            <div class="row justify-content-center">
                <div class="col-sm-12 aling-self-center">
                    <div class="container" id="contenedorCredenciales">
                        <div class="row justify-content-end" style="text-align: center">
                            <h5>Creadores:</h5>
                            <p>Carlos Salamanca</p>
                            <p>Valentina Tinjaca</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>